################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.[Vv]

*.[Bb]in/ 
*.[Oo]bj/ 

/**/bin/**/*

/./**/bin/**/*

./**/bin/**/*

**/bin/**/*

*/bin/**/*

bin/**/*


/**/obj/**/*

/./**/obj/**/*

./**/obj/**/*

**/obj/**/*

*/obj/**/*

bin/**/*
/.vs/HarcosApp/v16/.suo
